h1 Mark Program Attendance

p#notice = notice

== render partial: 'table', locals: {programs: [@program], actions: true}
br

h4.d-inline.mr-2 Ongoing Participants
== render partial: 'participants/table', locals: {participants: @program.ongoing_participants, short: true, attendance: true, program_id: @program.id}
br

h4.d-inline.mr-2 Dropped Out Participants
== render partial: 'participants/table', locals: {participants: @program.dropped_out_participants, short: true, attendance: true, program_id: @program.id}


=> link_to 'Edit', edit_program_path(@program)
'|
=< link_to 'Back', :back
