h1.d-inline.mr-3 Edit program
= link_to 'Create Participants', new_participant_path(program_id: @program.id), class: 'btn btn-primary d-inline mr-2'
br

== render 'form'

=> link_to 'Show', @program
'|
=< link_to 'Back', programs_path
