h1 Program Details

p#notice = notice

== render partial: 'table', locals: {programs: [@program], actions: true}
br

h3.d-inline.mr-2 Participants
= link_to 'Create More', new_participant_path(central_id: @program.central_id), class: 'btn btn-primary'
br
== render partial: 'participants/table', locals: {participants: @program.participants, actions: false}


=> link_to 'Edit', edit_program_path(@program)
'|
=< link_to 'Back', :back
