h1 Editing participant

== render partial: 'form', locals: {url: participant_path(@participant.id, central_id: @program.central_id), participant: @participant}

=> link_to 'Show', @participant
'|
=< link_to 'Back', participants_path
