h1 Confirm Program Participants
br

h5.d-inline.mr-2 Program Details
= link_to 'Choose another program', new_participant_path, class: 'd-inline mr-2'
== render partial: 'programs/table', locals: {programs: [@program], actions: false}
br

h5.d-inline.mr-2 Online Registered Participants
.d-inline.mr-2.btn-link aria-expanded="true" data-toggle="collapse" data-target="#confirmed-p" show / hide
#confirmed-p.collapse.show
  == render partial: 'participants/table', locals: {participants: @program.participants, short: true}
br
br

h5.d-inline.mr-2 Confirmed Participants
.d-inline.mr-2.btn-link aria-expanded="true" data-toggle="collapse" data-target="#registered" show / hide
#registered.collapse.show
  == render partial: 'participants/temp/table', locals: {participants: @program.temp_participants.order(:name)}
br
br

h5#register.d-inline.mr-2 Create Registration
.d-inline.mr-2
  = link_to 'New Registration', new_participant_path(program_id: @program.id, anchor: 'register')
== render partial: 'form', locals: { url: participants_path(program_id: params[:program_id], anchor: 'register'), participant: @participant }
