h1 Confirm Program Participants
br



h5.d-inline.mr-2 Program Details
= link_to 'Choose another program', new_participant_path, class: 'd-inline mr-2'
== render partial: 'programs/table', locals: {programs: [@program], actions: false}
br



h5.d-inline.mr-2 Confirmed Participants
.d-inline.mr-2.btn-link aria-expanded="true" data-toggle="collapse" data-target="#confirmed-p" show / hide

#confirmed-p.collapse
  == render partial: 'participants/table', locals: {participants: @program.participants, short: true}
br
br



div id =('post_submit' if @participant.errors.empty?)
  - if notice
    p.alert.alert-success = notice
  - if alert
    p.alert.alert-danger = alert if alert

h5.d-inline.mr-2 Pending Online Registrations
.d-inline.mr-2.btn-link aria-expanded="true" data-toggle="collapse" data-target="#registered" show / hide

#registered.collapse.show
  == render partial: 'participants/temp/table', locals: {t_participants: @program.temp_participants.order(:name)}
br



h5 id =('post_submit' unless @participant.errors.empty?)
  | Create New Registration
== render partial: 'form', locals: { url: participants_path(program_id: params[:program_id], anchor: 'post_submit'), participant: @participant }
