/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 */

 $blue:    #007bff !default;
 $indigo:  #6610f2 !default;
 $purple:  #6f42c1 !default;
 $pink:    #e83e8c !default;
 $red:     #dc3545 !default;
 $orange:  #ef5d21 !default;
 $yellow:  #ffc107 !default;
 $green:   #28a745 !default;
 $teal:    #20c997 !default;
 $cyan:    #17a2b8 !default;
 $gray-100:    #B3B3B3 !default;
 $gray-600:    #7F7F7F   !default;
 $gray-800:    #555555   !default;

 $colors: (
   blue: $blue,
   indigo: $indigo,
   purple: $purple,
   pink: $pink,
   red: $red,
   orange: $orange,
   yellow: $yellow,
   green: $green,
   teal: $teal,
   cyan: $cyan,
   gray: $gray-600,
   gray-dark: $gray-800
 ) !default;

 $theme-colors: (
   primary: $orange,
   secondary: $gray-600,
   success: $green,
   info: $cyan,
   warning: $yellow,
   danger: $red,
   light: $gray-100,
   dark: $gray-800
 ) !default;

@import "bootstrap";

@each $color, $value in $theme-colors {
  .swatch-#{$color} {
    color: color-yiq($value);
  }
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

span.help-block {
   color: red;
}

p.help-block {
   color: color('gray');
   // color: theme-color-level("light", 5);

}
